<div class="wrapper">
  <form class="form-signin" [formGroup]="formSignIn" (ngSubmit)="submitForm()">       
    <h2 class="form-signin-heading">BancAngular <i class="fas fa-piggy-bank"></i></h2>
    <input type="number" class="form-control" formControlName="identification" name="identificacion" placeholder="Identificación" autofocus="" />  
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>   
    <p class="registro">No tienes usuario &nbsp;<a routerLink ="/registro"  >Registrate</a></p>
  </form>
</div>