<div class="wrapper">
  <form class="form" [formGroup]="formRegister" (ngSubmit)="submitForm()">
    <h2 class="form-heading">BancAngular <i class="fas fa-piggy-bank"></i></h2>
    <input type="number" class="form-control" formControlName="identification" name="identificacion" placeholder="Identificación"
      autofocus [ngClass]="{errmsg: (form.identification.errors &&
        form.identification.touched)}" />
    <div *ngIf="form.identification.errors &&
        form.identification.touched" class="error">
      <div *ngIf="form.identification.errors.required">La identificacion es obligatoria</div>
      <div *ngIf="form.identification.errors.min">La identificacion deben ser minimo 8 números</div>
    </div>

    <input type="text" class="form-control" formControlName="name" name="nombre" placeholder="Nombres" autofocus
      [ngClass]="{errmsg: (form.name.errors &&
        form.name.touched)}" />
    <div *ngIf="form.name.errors &&
        form.name.touched" class="error">
      <div *ngIf="form.name.errors.required">El nombre es obligatorio</div>
    </div>
    <input type="text" class="form-control" formControlName="lastName" name="apellido" placeholder="Apellidos"
      autofocus [ngClass]="{errmsg: (form.lastName.errors &&
        form.lastName.touched)}" />
    <div *ngIf="form.lastName.errors &&
        form.lastName.touched" class="error">
      <div *ngIf="form.lastName.errors.required">El apellido es obligatorio</div>
      </div>
      <div class="form-group">
      <label>Fecha de Nacimiento</label>
      <input type="date" class="form-control" formControlName="birthDate" name="fechaNacimiento" autofocus [ngClass]="{errmsg: (form.birthDate.errors &&
      form.birthDate.touched)}" />
      </div>
      <div *ngIf="form.birthDate.errors &&
      form.birthDate.touched" class="error">
        <div *ngIf="form.birthDate.errors.required">La fecha de nacimiento es obligatoria</div>
        <div *ngIf="form.birthDate.errors.validAge">La edad debe ser mayor de 18 años</div>
      </div>
      <div class="form-row">
        <button class="btn btn-lg btn-primary btn-row" type="submit">Confirmar</button>
        <button class="btn btn-lg btn-primary btn-row" (click)="goBack()" type="button">Cancelar</button>

      </div>

  </form>
</div>
