
  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .form {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.89) ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
  }
  .form .form-heading {
    margin-bottom: 30px;
  }
  .form .form-control {
    padding: 10px;
    margin-bottom: 10px;
  }
  .form input[type=text] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-row {
      margin: auto;
  }
  .errmsg{
    border: 1px solid red;
  }
  .error {
    color: indianred;
    font-size: 14px;
    margin-bottom: 6px;
  }